body{
	margin:0% 5%;
	min-width:370px;
	height:100%;	
}

.p-header{
	display: flex;
	align-items:center;
	justify-content:space-between;
	margin: 2% 0%;
}

.logo{
	width:20%;
}

.contacts{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
    text-align: right;
}

.contacts--detail{
	display: flex;
	justify-content:space-around;
	align-items:center;
	width:300px;
	font-size: 24px;
}

.contacts--detail img{
	height:3ex;
}

.p-main{
	display: flex;
	justify-content:center;
    align-items: center;
    height: 452px;
    font-family: 'Open Sans', sans-serif;
    margin-top:5%;
}

.p-main__section{
	min-width: 45%;
}

.p-main__section p{
	font-size: 48px;
	line-height: 100%;
}

.p-main__section a{
	color: black;
    font-weight: bold;
    color:#58595b;
}

.p-main__section h1{
	font-family: 'gilroyextrabold';
	text-transform: uppercase;
	font-size: 105.1px;
	line-height: 100%;
    margin: 0;
    text-align: right;
}

.p-main__section h2{
	font-family: 'gilroyextrabold';
	font-size: 72px;
	line-height: 84%;
	margin-bottom:0;
}

.vertical-line{
	width: 6px;
	background-color:black;
    align-self: stretch;
    margin:0% 2%;
}



@media screen and (max-device-width: 768px) {

	.logo{
		width:30%;
	}
	.p-main{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:space-between;
		// height:80%;
	}
	.vertical-line{
		display:none;
	}
	.p-main__section {
    	width: 100%;
    	text-align: center;
	}
	.p-main__section h1{
    	text-align: center;
	}

	.contacts{
    	justify-content: flex-end;
	}

	.contacts--detail{
    	justify-content: space-between;
	}
}